body {
  border: 0;
  margin: 0;
  padding: 0;
  user-select: none; /* This should only be required in mobile use */
}
#screenshotContainer {
  position: relative;
}
#screenshotImg {
  display: block;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Ensure SVG is on top */
  border: 1px solid black; /* To help see it when opening as webpage */
}
.text-editor-wrapper {
  font-family: "Monoid";
  font-size: 18px;
  position: absolute;
  z-index: 2;
  /* Add margin to create a draggable fringe */
  margin: 10px;
  border-radius: 0.3em;
  min-width: calc(5em + 10px);
  min-height: calc(1em + 10px);
  border: 0.5em solid transparent;
}

.monoid {
  font-family: "Monoid";
}

.inter {
  font-family: "Inter";
}
.reforma {
  font-family: "Reforma1969";
}

.roboto {
  font-family: "Roboto";
}

.typewriter {
  font-family: "Special Elite";
}

.ransom {
  font-family: "BlackCasper";
  text-shadow: none !important;
  letter-spacing: 0.1em !important;
}

.bitmap {
  font-family: "Chicago Kare";
  text-shadow: none !important;
}

.text-editor-wrapper.selected {
  border: 0.5em solid rgba(100, 100, 100, 0.3);
}
.text-editor {
  position: absolute;
  z-index: 2;
  min-width: 5em;
  padding: 5px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.text-editor-wrapper.center {
  text-align: center;
}
.text-editor:focus {
  outline: none;
}
#sourceLink {
  font-size: 18px;
  position: absolute;
  top: 3em;
  left: 3em;
  padding: 5px 10px;
  background-color: rgba(50, 50, 50, 0.95);
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 0.3em;
  font-family: "Roboto Mono";
  z-index: 2;
}
#sourceLink > a {
  color: #d5a900ff;
}
#help {
  padding: 1em;
  position: absolute;
  transform: translate(50%, 10vh);
  font-family: "Roboto Mono";
  font-size: 16px;
  width: 50%;

  border-radius: 0.3em;
  border: 2px solid black;
  background-color: rgba(200, 200, 200, 0.95);
  z-index: 100;
}
#help p {
  margin-top: 0;
  margin-bottom: 0.3em;
}
#help code {
  font-weight: bold;
  white-space: pre;
}
#help.hide {
  display: none;
}
.hide {
  display: none;
}
.u {
  text-decoration: underline;
}

#filter-text {
  position: fixed;
  font-family: "Monoid";
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1001;
  display: none;
}

#filtered-memes {
  position: fixed;
  width: 40%;
  font-family: "Monoid";
  top: 5rem;
  left: 80%;
  transform: translateX(calc(-65% + 1em));
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1001;
  display: none;
  backdrop-filter: blur(5px);
}

#filtered-memes > p {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

#meme-container {
  top: 5rem;
  display: grid;
  width: 48.2em;
  margin-left: 10%;
  position: absolute;
  z-index: 1000;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 0em;
  padding: 1em;
  background-color: #99999999;
  border-radius: 5px;
  backdrop-filter: blur(5px);
}

.meme-img {
  padding: 0em;
  width: 12em;
  height: 12em;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}

.meme-img[data-title]:hover::after {
  font-family: Monoid;
  font-size: 80%;
  content: attr(data-title);
  top: 0;
  display: block;
  position: absolute;
  background-color: #333;
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  z-index: 100000;
  white-space: pre;
}

/* WIP */

#radial-menu {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  z-index: 1000;
  backdrop-filter: blur(5px) sepia(0.5);
  border-radius: 50%;
  opacity: 0;
  user-select: none;
  color: #c60 !important;
}

#radial-menu.show {
  opacity: 1;
}

.radial {
  width: 200px;
  height: 200px;
  opacity: 0;

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.4s ease-out;
  z-index: 1000;
}

.open.radial {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.radial a {
  text-decoration: none;
  color: #c60;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  text-align: center;
  font-size: 2rem;
}

#hidden-input {
  position: absolute;
  top: -10000px;
  left: -10000px;
}
